// Colors
$black: #000000;
$dark-grey: #535353;
$light-grey: #e9e9e9;
$white: #ffffff;
$beige: #ceaa82;
$main-color: #ff7e03;
$shadow: -10px 12px 24px 0px rgba(0, 0, 0, 0.15);
$hover-shadow: -5px 6px 24px 0px rgba(0, 0, 0, 0.4);

// Font-weight
$regular: 400;
$bold: 600;
